<a href="https://colab.research.google.com/github/SURESHBEEKHANI/Recommender-system/blob/main/Movie_Recommender_System_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Movie Recommender System

In [ ]:
import pandas as pd  # Import the pandas library and call it 'pd' for handling data tables
import numpy as np  # Import the numpy library and call it 'np' for handling numerical values
import ast  # Import the ast library for working with abstract syntax trees

In [ ]:
# Load the data set Of Movies
movies = pd.read_csv('/content/tmdb_5000_movies.csv')

In [ ]:
# Load the Create data set pf moves
credits = pd.read_csv('tmdb_5000_credits.csv')

In [ ]:
# The movies data set has 4803 rows and 20 columns.
movies.shape

In [ ]:
# Show the first row of the data set
movies.head(1)

In [ ]:
# Show the dimensions of the data set
credits.shape

In [ ]:
#Show the Fisrt Row of dataset
credits.head(1)

In [ ]:
# Merge the dataset credits with the movies dataset based on the 'title' column
movies = movies.merge(credits, on='title')

In [ ]:
# After merge Shape of the Movie dataset
movies.shape

In [ ]:
movies.info()

In [ ]:
movies.info()

In [ ]:
# Remove unnecessary columns from the 'movies' DataFrame
# We want to keep only these columns: 'movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew'
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [ ]:
# Remove unnecessary columns from the 'movies' DataFrame
# We want to keep only these columns: 'movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew'
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [ ]:
movies.head()

In [ ]:
#Check the missing  value
movies.isnull().sum()

In [ ]:
## remved the Null value from dataset
movies.dropna(inplace=True)

In [ ]:
#Check the Duplicate  value from data set
movies.duplicated().sum()

In [ ]:
#Check the value of Movies column  genres
movies.iloc[0].genres

In [ ]:
def convert(obj):
    """
    This function takes a string representation of a list of dictionaries,
    converts it into an actual list of dictionaries, and then extracts the 'name'
    field from each dictionary to create a list of names.

    Args:
        obj (str): A string representation of a list of dictionaries.

    Returns:
        list: A list containing the 'name' values from each dictionary.
    """
    List = []  # Create an empty list to store the names.

    # Convert the string representation of the list into an actual list of dictionaries.
    for i in ast.literal_eval(obj):
        # Extract the 'name' field from each dictionary and add it to the List.
        List.append(i['name'])

    # Return the list of names.
    return List

In [ ]:
# Apply the convert function to the 'genres' column
# For each row in the 'genres' column, it converts the string into a list of names
movies['genres'] = movies['genres'].apply(convert)

# Apply the convert function to the 'keywords' column
# For each row in the 'keywords' column, it converts the string into a list of names
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
def convert3(obj):
    """
    This function takes a string representation of a list of dictionaries,
    converts it into an actual list of dictionaries, and then extracts the 'name'
    field from each dictionary to create a list of names. It only adds up to three names.

    Args:
        obj (str): A string representation of a list of dictionaries.

    Returns:
        list: A list containing up to three 'name' values from each dictionary.
    """
    counter = 0  # Initialize a counter to keep track of the number of names added.
    List = []  # Create an empty list to store the names.

    # Convert the string representation of the list into an actual list of dictionaries.
    for i in ast.literal_eval(obj):
        # Extract the 'name' field from each dictionary and add it to the List.
        if counter != 3:  # Check if the counter has reached three.
            List.append(i['name'])  # Add the 'name' to the list.
            counter += 1  # Increment the counter.
        else:
            break  # If three names have been added, exit the loop.

    # Return the list of names.
    return List

In [ ]:
#Use Contert3 Function and Every movie  first 3 acter name add
movies['cast']= movies['cast'].apply(convert3)
movies.head()

In [ ]:

def fetch_director(obj):
    """
    This function takes a string representation of a list of dictionaries,
    converts it into an actual list of dictionaries, and then extracts the 'name'
    of the person whose job is 'Director'.

    Args:
        obj (str): A string representation of a list of dictionaries.

    Returns:
        list: A list containing the name of the 'Director'. If no director is found, the list will be empty.
    """
    List = []  # Create an empty list to store the director's name.

    # Convert the string representation of the list into an actual list of dictionaries.
    for i in ast.literal_eval(obj):
        # Check if the 'job' field is 'Director'.
        if i['job'] == 'Director':
            List.append(i['name'])  # Add the director's name to the list.
            break  # Stop the loop after finding the director.

    # Return the list containing the director's name.
    return List

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)
movies.head()

In [ ]:
#Overview  column is Strining convert string convert  into list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
#remved the space blw words of list
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies.head()

In [ ]:
#Create New column name Tage Conncet this our colamn overview	genres	keywords	cast	crew
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
movies.head()

In [ ]:
#Create new data
new_df = movies[['movie_id', 'title', 'tags']]

In [ ]:
new_df.head()

In [ ]:
#Convert Tage Colunma in string
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [ ]:
new_df.head()

In [ ]:
#Show the tage of 1 row
new_df['tags'][0]

In [ ]:
#convert in lowers case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [ ]:
new_df.head()

In [ ]:
import nltk  # Importing the NLTK library for natural language processing
from nltk.stem.porter import PorterStemmer  # Importing the Porter Stemmer for stemming words
import re  # Importing the 're' module for regular expressions

# Importing stopwords from the nltk.corpus module
from nltk.corpus import stopwords

# Download the 'stopwords' resource if it's not already downloaded
nltk.download('stopwords')

In [ ]:
def preprocess_text(text):
    """
    This function preprocesses the input text by removing non-alphabetic characters,
    converting to lowercase, removing stopwords, and applying stemming.

    Args:
        text (str): The input text to preprocess.

    Returns:
        str: The preprocessed text.
    """
    # Remove non-alphabetic characters

    # Remove stopwords and apply stemming
    words = [ps.stem(word) for word in words if word not in set(stopwords.words('english'))]

    # Join words back into a single string
    preprocessed_text = ' '.join(words)

    return preprocessed_text

# Assume new_df is a DataFrame that contains a column 'tags'
# Apply the preprocess_text function to each entry in the 'tags' column
new_df['tags'] = new_df['tags'].apply(preprocess_text)

In [ ]:
#show the Tage Raw atfter Text Preprocessing
new_df['tags'][0]

In [ ]:
#convert this word to vecter
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [ ]:
#Use fit trainfom function
vectors= cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors

In [ ]:
#calculate  the cosin_distance_ with fisrt to list move
from sklearn.metrics.pairwise import cosine_similarity
simillarity = cosine_similarity(vectors)

In [ ]:
simillarity[0]

In [ ]:
#create a Recemnder Function
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = simillarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Batman Begins')

In [ ]:
#check accuracy
import pickle